:root {
    --background-color: #e9e9e9;
    --primary-color: #596D48;
    --accent-color: #3b79f7;
    --normal-font-color: rgb(38, 38, 38);
    --form-label-font-color: #494949;
    --form-item-border-color: #E5E7EB;
    --form-item-invalid-border-color: #EF4444;
    --light-black: rgb(25, 25, 25);
    --white: #ffffff;
}

a {
    text-decoration: underline;
    color: var(--background-color);
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}